* {
    font-family: "Helvetica Neue", sans-serif;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.ag-theme-alpine {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.ag-header-viewport {
    background-color: #e5efff;
}